In [10]:
print("pandas")

pandas

In [11]:
import pandas as pd
data1=["apple","banana","mango"]
print(data1)

['apple', 'banana', 'mango']

In [72]:

Series=pd.Series(data1)
print(Series)

0     apple
1    banana
2     mango
dtype: object

In [37]:
data2={
    "name":["apple","banana","mango"],
    "count":[5,3,6],
    "price":[50,30,55],
    "stock":[5,8,9]
}
df=pd.DataFrame(data2)
print(df)
print("-----------------------")
print(df.describe())
print(df.shape)
print(df[['name','price']])
print(df['price']>30)

df["order"]=["yes","no","yes"]
print(df)

     name  count  price  stock
0   apple      5     50      5
1  banana      3     30      8
2   mango      6     55      9
-----------------------
          count      price     stock
count  3.000000   3.000000  3.000000
mean   4.666667  45.000000  7.333333
std    1.527525  13.228757  2.081666
min    3.000000  30.000000  5.000000
25%    4.000000  40.000000  6.500000
50%    5.000000  50.000000  8.000000
75%    5.500000  52.500000  8.500000
max    6.000000  55.000000  9.000000
(3, 4)
     name  price
0   apple     50
1  banana     30
2   mango     55
0     True
1    False
2     True
Name: price, dtype: bool
     name  count  price  stock order
0   apple      5     50      5   yes
1  banana      3     30      8    no
2   mango      6     55      9   yes

In [47]:
data3=pd.read_csv("iris.csv")
print(data3.describe())
print(data3['sepal_length']>5)

       sepal_length  sepal_width  petal_length  petal_width
count     63.000000    63.000000     63.000000    63.000000
mean       5.233333     3.285714      2.092063     0.488889
std        0.600806     0.473101      1.216460     0.474889
min        4.300000     2.000000      1.000000     0.100000
25%        4.900000     3.000000      1.400000     0.200000
50%        5.100000     3.300000      1.500000     0.200000
75%        5.450000     3.550000      1.800000     0.450000
max        7.000000     4.400000      4.900000     1.600000
0      True
1     False
2     False
3     False
4     False
      ...
58     True
59    False
60     True
61     True
62     True
Name: sepal_length, Length: 63, dtype: bool

In [50]:
import pandas as pd

# Creating a Series
data = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
print(data)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [51]:
import pandas as pd

# Example: Converting a single date string
date = pd.to_datetime("2024-11-16")
print(date)
# Output: 2024-11-16 00:00:00

# Converting a list of date strings
dates = pd.to_datetime(["2023-01-15", "2024-06-10", "2024-11-16"])
print(dates)

2024-11-16 00:00:00
DatetimeIndex(['2023-01-15', '2024-06-10', '2024-11-16'], dtype='datetime64[ns]', freq=None)

In [52]:
# Creating a DataFrame with a date column
df = pd.DataFrame({'date': pd.to_datetime(["2024-11-16", "2023-05-21", "2022-12-31"])})

# Extracting components
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.day_name()
df['quarter'] = df['date'].dt.quarter

print(df)

        date  year  month  day   weekday  quarter
0 2024-11-16  2024     11   16  Saturday        4
1 2023-05-21  2023      5   21    Sunday        2
2 2022-12-31  2022     12   31  Saturday        4

In [58]:
s='2024-11-10'
e='2025-1-1'
dates=pd.date_range(start=s,end=e)
for d in dates:
    print(d.date())

2024-11-10
2024-11-11
2024-11-12
2024-11-13
2024-11-14
2024-11-15
2024-11-16
2024-11-17
2024-11-18
2024-11-19
2024-11-20
2024-11-21
2024-11-22
2024-11-23
2024-11-24
2024-11-25
2024-11-26
2024-11-27
2024-11-28
2024-11-29
2024-11-30
2024-12-01
2024-12-02
2024-12-03
2024-12-04
2024-12-05
2024-12-06
2024-12-07
2024-12-08
2024-12-09
2024-12-10
2024-12-11
2024-12-12
2024-12-13
2024-12-14
2024-12-15
2024-12-16
2024-12-17
2024-12-18
2024-12-19
2024-12-20
2024-12-21
2024-12-22
2024-12-23
2024-12-24
2024-12-25
2024-12-26
2024-12-27
2024-12-28
2024-12-29
2024-12-30
2024-12-31
2025-01-01

In [74]:
sd='2024-10-14'
ed='2024-10-24'
date_range=pd.date_range(sd,ed,freq='w-mon')
for d in date_range:
    print(d.date())

2024-10-14
2024-10-21